

.ChatBox {height: 300px; overflow: auto; border: 1px solid #ddddddd; word-wrap: break-word}
.ChatBlock {border: 1px solid #dddddd; background: #e6ca16; padding: 10px; color: #000000; margin: 10px; word-wrap: break-word;border-radius: 2%}
.ChatBlock span {color: #fbffff; font-size: 10px; display: block}
.ChatMessage {width: 300px; height: 40px; resize: none; padding: 5px}
.PageSelector{margin: 10px}
.SwchItem, .SwchItemCur {color: #fcffff; padding: 2px 15px; background: #e9b125; border-radius: 20%}
.SwchItemCur {background: #323635}
